$gray-base:              #000;
$gray-darker:            lighten($gray-base, 13.5%); // #222
$gray-dark:              lighten($gray-base, 20%);   // #333
$gray:                   lighten($gray-base, 33.5%); // #555
$gray-light:             lighten($gray-base, 46.7%); // #777
$gray-lighter:           lighten($gray-base, 93.5%); // #eee

$brand-primary-old:     darken(#428bca, 6.5%); // #337ab7
$brand-primary:         #190061;
$brand-secondary:       #3500d3;
$brand3:                #0c0032;
$brand4:                #240090;
$brand-success:         #5cb85c;
$brand-info:            #5bc0de;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;

$pallete-dark: #282828;

$theme-colors: (
  "primary":    $brand-primary,
  "secondary":  $brand-secondary,
  "brand3":     $brand3,
  "brand4":     $brand4,
  "success":    $brand-success,
  "info":       $brand-info,
  "warning":    $brand-warning,
  "danger":     $brand-danger,
  "light":      $gray-light,
  "dark":       $pallete-dark,
  "medium":     $gray
);

$body-bg: $gray-base;
$body-color: $gray-lighter;

@import "../../node_modules/bootstrap/scss/bootstrap";

html, body, #root, .App {
  height: 100%;
}

body {
  background-image: url("backgrounds/double-bubble-dark.png");
  background-repeat: repeat;
  background-size: 200px 200px;

  // text-shadow: -2px 2px 5px rgba(0,0,0,0.9);
}

.text-shadow {
  text-shadow: -2px 2px 5px rgba(0,0,0,0.9) !important;
}

// Improved breakpoints for card columns
.card-columns {
  @include media-breakpoint-only(xl) {
    column-count: 3;
  }
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(md) {
    column-count: 3;
  }
  @include media-breakpoint-only(sm) {
    column-count: 2;
  }
}

a {
  color: $gray-lighter;
}
a:hover {
  color: darken($gray-lighter, 25%);
}
a:active {
  color: darken($gray-lighter, 40%);
}

hr.hr-nice {

  $hr-color: #000;
  .hr-nice-inverse {
    $hr-color: #fff;
  }

  width: 100%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba($hr-color, 0), rgba($hr-color, 1), rgba($hr-color, 0));
}